CompileFlags:
  CompilationDatabase: build/       # Search build/ directory for compile_commands.json
  Add: [-isysroot=~/.espressif/tools/xtensa-esp32-elf/esp-12.2.0_20230208/xtensa-esp32-elf/xtensa-esp32-elf/]
  Remove: [-fno-tree-switch-conversion, -fstrict-volatile-bitfields]
